.photo__delete-button {
  width: 18px;
  min-width: 18px;
  height: 20px;
  background-image: url('../../../images/trash.svg');
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 20px;
  right: 20px;
}

.photo__delete-button:hover {
  opacity: .6;
}