.popup__form {
  width: 430px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  border-radius: 10px;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .popup__form {
    width: 282px;
    padding: 25px 22px 25px;
  }
}