.popup__close-button {
  background-image: url('../../../images/close.svg');
  width: 32px;
  height: 32px;
  display: block;
  z-index: 2;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: #000;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}