.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.checkbox__input:hover + .checkbox__pseudo {
  opacity: .6;
  cursor: pointer;
}

.checkbox__input:checked + .checkbox__pseudo {
  background-image: url('../../../images/like_cheched.svg');
}